@import '_variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  background-color: $secondary;
  color: $black;
  font-family: Verdana, Tahoma, sans-serif;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0px;
}

h3 {
  font-family: futura PT, sans-serif;
}

a {
  color: $black;
}

.navbar {
  background: $primary;
  min-height: 80px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.logo {
  max-width: 220px;
  transform: translateY(-3px);
}

.plus-icon {
  width: 22px;
  height: auto;
  margin-right: 10px;
  transform: translateY(-1.9px);
}

.nav-item a {
  color: $white;
}

.nav-link:focus {
  color: $white;
}

.nav-item a:hover {
  color: $gray-300;
}

.dropdown-menu {
  background: $primary;
}

.dropdown-item:hover {
  background: $primary;
  color: $gray-300;
}

.active {
  font-weight: bolder;
  color: $white !important;
}

.mw-290 {
  max-width: 290px;
}

.mw-450 {
  max-width: 450px;
}

.mw-600 {
  max-width: 600px;
}

.mw-1000 {
  max-width: 1000px;
}

.mw-1200 {
  max-width: 1200px;
}

.h-600 {
  height: 600px;
}

.searchField {
  max-width: 964px;
}

.item {
  border-color: $secondary;
}

.item > * {
  color: $black;
}

.cardImg {
  object-fit: cover;
  width: 244px;
  height: 180px;
  align-self: flex-start;
}

.createdDate {
  font-family: futura PT, sans-serif;
  font-size: 0.9rem;
  height: 21.61px;
  color: $black;
}

.endsAtHeader {
  align-self: flex-end;
  margin: 5px 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: $black;
}

.endingDate {
  font-family: futura PT;
  font-style: italic;
  font-size: 1rem;
  color: $black;
}

.itemHeading {
  align-self: flex-start;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: $black;
  max-height: 50px;
  overflow: hidden;
}

.descriptionSmall {
  font-size: 0.9rem;
  height: 90px;
  color: $black;
}

.bidsAmount {
  color: $black;
  font-family: futura PT;
  font-weight: 600;
  font-size: 1.2nrem;
  align-self: flex-end;
  transform: translateY(-4px);
}

.viewBtn {
  height: 40px;
  font-weight: bold;
  font-size: 1rem;
  color: $white;
  align-self: flex-end;
}

.viewBtn p {
  transform: translateY(0.5px);
}

.filterButtonsContainer {
  transform: translateX(-18px);
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn-outline-success {
  color: $white;
  background: $orange;
  border-color: $orange;
}

.btn-outline-success:hover,
.btn-outline-success:focus {
  color: $white;
  border-color: $orange-500;
  background-color: $orange-500;
}

.btn-info {
  background-color: #ffffff;
  color: #4f4f4f;
}

.btn-outline-info {
  border-color: #4f4f4f;
}

.btn-outline-info:hover,
.btn-outline-info:focus {
  color: #ffffff;
  border-color: $orange-500;
  background-color: $orange-500;
}

.register_image {
  max-height: 250px;
  object-fit: cover;
}

.fade-in {
  animation: blog-fade-effect ease 1.8s forwards;
}

.error_message {
  max-width: 300px;
  background-color: #ffffff;
  color: red;
  padding: 50px;
  border-radius: 2px;
  margin: 40px auto;
}

.loading-indicator {
  text-align: center;
  margin: 50px auto 50px;
  border: 4px solid #313547;
  border-radius: 20%;
  width: 25px;
  height: 25px;
  animation: rotate 1.5s linear infinite;
}

footer p {
  color: $white;
  font-size: 0.9rem;
}

.topButton {
  display: none;
  width: 120px;
  background: $blue;
}

.topButton:hover {
  cursor: pointer;
}

.arrow {
  width: 20px;
}

.footer_logo {
  width: 180px;
  padding: 100px 0px 100px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blog-fade-effect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
