@import '_variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  background-color: $secondary;
  color: $black;
  font-family: Verdana, Tahoma, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

h3 {
  font-family: futura PT, sans-serif;
}

.navbar {
  background: $primary;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.logo {
  max-width: 245px;
  transform: translateY(-3px);
}

.nav-item a {
  color: $white;
}

.nav-link:focus {
  color: $white;
}

.nav-item a:hover {
  color: $gray-300;
}

.dropdown-menu {
  background: $primary;
}

.dropdown-item:hover {
  background: $primary;
  color: $gray-300;
}

.btn-outline-success {
  color: $white;
  background: $orange;
  border-color: $orange;
}

.btn-outline-success:hover,
.btn-outline-success:focus {
  color: $white;
  border-color: $orange-500;
  background-color: $orange-500;
}

.active {
  font-weight: bolder;
  color: $white !important;
}

.mw-380 {
  max-width: 380px;
}

.mw-450 {
  max-width: 450px;
}

.mw-600 {
  max-width: 600px;
}

.mw-1200 {
  max-width: 1200px;
}

.mw-1400 {
  max-width: 1400px;
}

.h-520 {
  height: 700px;
}

.item {
  border-color: $secondary;
  background-color: $white;
}

.item > * {
  color: $black;
}

.cardImg {
  object-fit: cover;
  height: 250px;
}

.specificItemHeading {
  font-size: 2rem;
}

.createdDate {
  font-family: futura PT, sans-serif;
  font-size: 1rem;
}

.endsAtHeader {
  align-self: flex-end;
  margin: 5px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.endingDate {
  font-family: futura PT;
  font-size: 1.2rem;
}

.itemHeading {
  align-self: flex-end;
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.bidsAmount {
  color: $orange;
  font-family: futura PT;
  font-weight: 500;
  font-size: 1.6rem;
}

.viewBtn {
  height: 50px;
  font-weight: bold;
  font-size: 1.2rem;
  color: $white;
  align-self: flex-end;
}

.viewBtn p {
  transform: translateY(4px);
}

footer p {
  color: $white;
  font-size: 0.9rem;
}

.top_button {
  width: 120px;
  background: $blue;
}

.top_button:hover {
  cursor: pointer;
}

.arrow {
  width: 20px;
}

.footer_logo {
  width: 180px;
  padding: 40px 0px 100px;
}
